@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icones.sass"

body
    padding: 0 25px
    margin : 0px 25px

header
    

.container
    .row
        .col-3
            img
                height: 150px
                margin:  50px
.recent_products
    .row
        img
            height: 250px
            margin: 25px

.uno
    .row
        .photo1
            background-image: url("../../public/img/services/service-1.jpg")
            height: 250px
        .col-4
            .pad
                margin:  5px 
                border-top: 5px solid white
        .photo2
            background-image: url("../../public/img/services/service-2.jpg")
            height: 250px
            // margin: 0px 10px
        .photo3
            background-image: url("../../public/img/services/slider-3.jpg")
            height: 250px
 
    .slider 
        height: 500px



ul
    margin: auto
    justify-content: space-between


.slider
    background-color:  #f3f3f3
    .container
        .col-7
            h2
                font-size: 50px
                color: #e70e0e
            h1
                font-size: 100px
.tres
    background-image: url("../../public/img/cta-bg.jpg")
    height: 1000px

    
.quatro
    .container
        .row
            margin: 50px
            .col-1
                img
                    height: 200px

.cinco
    .row
        .col-3
            height: 350px
            width: 250px
            background-color: #b8b6b659
header
    .container
        .elli
            // background-color: #e7080859
            list-style: none
.aime3
    button
        border-radius: 50px
        //  background-color: #c01111

// .siete
//     .row
//         .col-4
//             height: 150px
